
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% load static %}



{% block content %}

<div class="row">
      <div class="col-xs-12 col-sm-8 col-md-3">
        <h3>  {{ distributor.name }} </h3>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-9">
        <form class="" action="" method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class="btn btn-success">Update</button>
        </form>
      </div>

  </div><!--/row-->
{% endblock content %}
