{% extends 'base.html' %}



{% block content %}
<div class="row">
  <div class="col col-xs-12 col-md-8 col-sm-12">
    <h2>{{distributor.name}}</h2>
      <hr>
  </div>
  <div class="col col-xs-12 col-md-4 col-sm-12">
    <h3>Recent Orders</h3>
    <hr>

    <div >
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <strong>13923</strong> | Delivered <span class="pull-right">12/10/2015</span>

                            </div>
                            <div class="panel-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>
                            </div>
                            <div class="panel-footer">
                                <strong>Total</strong> <span class="pull-right">&#8377 333</span>
                            </div>
                        </div>
                    </div>

  </div>



</div>
{% endblock content %}
